


div.about-me-pic {
    width: 40em;
    object-fit: contain;
}

div.about-me-pic img {
    border: 3px solid #4f514f;
    border-radius: 5px;
    /* margin: 4pt; */
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
    /* min-width: 300px; */
}
    
div#about-me-text {
    /* width: 500px; */
    border: 3px solid #4f514f;
    border-radius: 5px;
    margin: 3em;
    background-color: white;
    padding: 1em 5em;

}


/******************************************************************/
/************************* MEDIA QUERIES **************************/
/******************************************************************/


/* Media Query for phones - Landscape */
@media only screen and (orientation: landscape) {

    div#about-me-text {
        margin: 2em;
        padding: 1em 2em;
    }

    div.about-me-pic {
        width: 25em;
    }

    
}