@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root {
    --main-colour: #46d68f;
    --bg-colour: #fff3d6;
    --sec-colour: #4f514f;
  }


html {
    font-family: 'Titan+One', 'Indie+Flower', sans-serif;
    background-color: var(--main-colour);
    color: var(--sec-colour);
}

body {
    display: flex;
    align-items: center;
    height: 100%;
    /* max-width: 1350px; */
    }

h1 {
    font-family: 'Titan One';
    font-size: 4em;
    text-align: center;
    }

p {
    font-size: 2em;
    font-family: 'Indie Flower', cursive;
}


div#my-info {
    position: relative;
    left: -150px;
    min-width: 540px;
    max-width: 560px;
}

div#image {
    width: 60%;
    max-width: 800px;
    min-width: 600px;
}

img#main-img {
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain;  */
    /* display: block; remove extra space below image */
}

button {
    background-color: var(--bg-colour);
    border: 2px solid var(--bg-colour);;
    border-radius: 5px;
    color: var(--sec-colour);
    font-family: 'Titan One';
    font-size: 1.5em;
    padding: 0.5em;
    min-width: 7.5em;
}

button:hover {
    border: 2px solid var(--sec-colour);
    font-style: bold;
    background-color: #4f514f;
    color: var(--bg-colour);;
}

.buttons {
    display: flex;
    justify-content: space-around;
    /* padding: 3px; */
}

