
form {
    margin: 0em auto;
    display: block;
    width: 100%;
}

.form-item {
    display: flex;
    flex-direction: column;    
    padding: 1em;
}

.form-item label {
    font-size: 4em;
    font-family: Indie Flower;
}

.form-item input,
.form-item textarea {
    min-width: 90%;
    border: 2px solid #4f514f;
    border-radius: 5px;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #4f514f;;
}

.form-item input,
.form-item textarea
{
    background-color: #FFF;
    padding: 5px;
    font-size: 3em;
}

.form-item input:focus,
.form-item textarea:focus {
    outline: 3px solid #46d68f;
}

textarea {
    min-height: 25em;
    resize: none;
}

.form-item button {
    width: 7em;
    align-self: flex-end;
}



/******************************************************************/
/********************** MEDIA QUERIES ***********************/
/******************************************************************/








/********************** OLD ***********************/


/* Media Query for Laptops and Desktops */ 
@media only screen and (min-device-width: 851px) {
form {
    margin: 100px auto;
    display: block;
}

.form-item {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    /* border: 2px solid red; */
}

.form-item label {
    /* flex-basis: 150px; */
    font-size: 22px;
    padding-right: 10px;
    font-family: Indie Flower;
    min-width: 80px;
    /* text-justify: right; */
}

.form-item input,
.form-item textarea {
    /* flex-basis: 80%; */
    border: 2px solid #4f514f;
    border-radius: 5px;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #4f514f;;
}

.form-item input,
.form-item textarea
{
    /* border: 2px solid #FDDC5C; */
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    width: 500px;
    min-width: 500px;
}

.form-item input:focus,
.form-item textarea:focus {
    outline: 3px solid #46d68f;
}

textarea {
    min-height: 350px;
    resize: none;
}

}