@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
    font-family: 'Titan+One', 'Indie+Flower', sans-serif;
    background-color: #fff3d6;
    color: #4f514f;
}


header {
    width: 100%;
    height: 90px;
    background: #46d68f;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
}

header div {
    display: flex;
}

header div img {
    max-width: 75px;
    max-height: 100%;
    padding-top: 3px;
    object-fit: contain; 
    /* display: block; remove extra space below image */
}

h2 {
    font-family: Titan One;
    font-size: 2.5em;
}

nav {
    display: flex;
    align-self: flex-end; /*bottom instead of top*/
    font-family: Indie Flower;
    font-size: 1.5em;
    text-decoration: none;
    /* border: 2px solid red; */
    padding-left: 2em;
    width: 40%;
    justify-content: space-evenly;
}

a {
    color: #4f514f;
    padding: 1px;
    font-style: none;
}

a:visited {
    color: #fff3d6;;
  }

/* div { */
    /* border: 2px solid red; */
/* } */

div#header-name {
    display: flex;
    align-self: center; /*bottom instead of top*/
}




button {
    background-color: #fff3d6;
    border: 2px solid #4f514f;
    border-radius: 5px;
    color: #4f514f;
    font-family: 'Titan One';
    font-size: 1.5em;
    padding: 0.5em;
    min-width: 7.5em;
}

button:hover {
    border: 2px solid #4f514f;
    font-style: bold;
    background-color: #4f514f;
    color: #fff3d6;
}

p {
    font-family: Indie Flower;
    font-size: 1.5em;
    color: #4f514f;
}

footer {
    background-color: #46d68f;
    color: #4f514f;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 35px;
    width: 100%;
    font-family: Indie Flower;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}

div#main-body {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

div#about-me-pic {
    width: 450px;
}

div#about-me-pic img {
    border: 3px solid #4f514f;
    border-radius: 5px;
    /* margin: 4pt; */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    min-width: 300px;
}
    
div#about-me-text {
    width: 500px;
    border: 3px solid #4f514f;
    border-radius: 5px;
    margin: 4pt;
    background-color: white;
    padding: 10px;
}

