
form {
    margin: 0em auto;
    display: block;
    width: 92vw;
    justify-content: center;
}

.form-item {
    display: flex;
    flex-direction: column;    
    padding: 1em;
}

.form-item label {
    font-size: 4em;
    font-family: Indie Flower;
}

.form-item input,
.form-item textarea {
    min-width: 90%;
    border: 2px solid #4f514f;
    border-radius: 5px;
    background-color: #FFF;
    padding: 5px;
    font-size: 4em;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #4f514f;;
}

.form-item input:focus,
.form-item textarea:focus {
    outline: 3px solid #46d68f;
}

textarea {
    min-height: 14em;
    resize: none;
}

.form-item button {
    width: 7em;
    align-self: flex-end;
}



/******************************************************************/
/********************** MEDIA QUERIES ***********************/
/******************************************************************/


/* Media Query for phones - Landscape */
@media only screen and (orientation: landscape) {
    form {
        justify-self: center;
        width: initial;
    }

    .form-item {
        flex-direction: row;    
        justify-content: flex-end;
        /* max-width: 90vw; */
        margin-left: 1em;
        width: 80vw;
    }
    
    .form-item input,
    .form-item textarea {
        padding: 0.2em;
        font-size: 2em;
        /* max-width: 80%; */
    }
    
    .form-item label {
        font-size: 2.5em;
        min-width: 4em;
    }

    textarea {
        min-height: 15em;
        resize: none;
    }

    .form-item button {
        width: 7em;
    }
}


/* Media Query for ipads - Landscape */
@media only screen and (min-device-width: 900px) and (orientation: landscape) {
    .form-item {
        flex-direction: row;    
        justify-content: flex-end;
        margin-left: 1em;
    }
    
    .form-item input,
    .form-item textarea {
        padding: 0.2em;
        font-size: 2em;
        /* max-width: 80%; */
    }
    
    .form-item label {
        font-size: 2.5em;
        min-width: 4em;
    }

    textarea {
        min-height: 15em;
        resize: none;
    }

    .form-item button {
        width: 7em;
        /* justify-content: flex-end; */
        /* justify-self: flex-end; */
    }
}

/* Media Query for Laptops and Desktops */ 
@media only screen and (min-device-width: 851px) {
    textarea {
        min-height: 15em;
        resize: none;
    }
 

    .form-item input,
    .form-item textarea {
        padding: 0.1em;
        font-size: 1.5em;
    }

    .form-item label {
        font-size: 2em;
        min-width: 4em;
    }

    
}
