
form {
    margin: 150px auto;
    width: 60%;
    border: 2px solid red;
}

.form-item {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
    /* border: 2px solid red; */
}

.form-item label {
    /* flex-basis: 150px; */
    font-size: 22px;
    padding-right: 10px;
    font-family: Indie Flower;
    min-width: 80px;
    /* text-justify: right; */
}

.form-item input,
.form-item textarea {
    flex-basis: 80%;
    border: 2px solid #4f514f;
    border-radius: 5px;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #4f514f;;
}

.form-item input,
.form-item textarea,
.form-item button {
    /* border: 2px solid #FDDC5C; */
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
}

.form-item button:hover {
    /* border: 2px solid #FA4224; */
    background-color: #FA4224;
    color: #FFF;
}

.form-item button {
    width: 100px;
}


textarea {
    min-height: 250px;
}