/* This file defines the styles for the header, footer, nav, etc. 
The main styles to be used in all pages except the index.html */

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

html {
    font-family: 'Titan+One', 'Indie+Flower', sans-serif;
    background-color: #fff3d6;
    color: #4f514f;
    font-size: 1vw; 
}

/********** HEADER, FOOTER **********/
header {
    width: 100%;
    max-height: 15em;
    background: #46d68f;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
}

header div {
    display: flex;
    justify-content: center;
}

header div a img {
    max-width: 10em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    object-fit: contain; 
}

div#header-name {
    display: flex;
    justify-content: center;
    align-self: center; /*bottom instead of top*/
}

div#header-name h2 {
    display: none;
}

footer {
    background-color: #46d68f;
    color: #4f514f;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 3.5em;
    width: 100%;
    font-family: Indie Flower;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5em;
}

i {
    font-size: 2.5em;
    color: #4f514f;
}


/********** NAV AND LINKS **********/
nav {
    display: none;
}

nav a {
    display: none;
}

a {
    color: #4f514f;
    padding: 1px;
    font-style: none;
}

a:visited {
    color: #fff3d6;;
  }


/********** BUTTONS **********/

button {
    background-color: #fff3d6;
    border: 2px solid #4f514f;
    border-radius: 5px;
    color: #4f514f;
    font-family: 'Titan One';
    /* font-size: 2em; */
    padding: 0.2em;
    min-width: 5em;
}

button:hover {
    border: 2px solid #4f514f;
    font-style: bold;
    background-color: #4f514f;
    color: #fff3d6;
}


/********** MAIN BODY, P, H1, ETC **********/

div#main-body {
    margin-top: 13em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 9em;
}

p {
    font-family: Indie Flower;
    font-size: 4.5em;
    color: #4f514f;
    text-align: justify;
}

footer p {
    font-size: 1.5em;
}

h2 {
    font-family: Titan One;
}

h1 {
    font-family: Titan One;
    font-size: 5em;
}

footer div {
    position: absolute;
    right: 2px;
    bottom: 0px;
}





/******************************************************************/
/************************* MEDIA QUERIES **************************/
/******************************************************************/


/* Media Query for phones - Landscape */
@media only screen and (orientation: landscape) {

    header {
        max-height: 8em;
    }
    
    header div a img {
        max-width: 6em;
    }

    h1 {
        font-size: 3em;
    }

    div#main-body {
        margin-top: 9em;
        margin-bottom: 4em;    
    }
    
    footer {
        height: 2.3em;
        align-items: center;
        font-size: 1.4em;
        justify-content: center;        
    }
   
    i {
        font-size: 1.8em;
        color: #4f514f;
    }

    p {
        font-size: 2.7em;
        margin: 0.4em;
    }



}

/* Media Query for tablets, portrait */ 
@media only screen and (min-device-width: 482px) and (max-device-width: 850px) and (orientation: portrait) {

    p {
        font-size: 3em;
        margin: 0.2em;
    }

    header {
        max-height: 8em;
    }
    
    header div a img {
        max-width: 5.2em;
    }

    div#main-body {
        margin-top: 6em;
        margin-bottom: 3em;        
    }

    footer {
        height: 2.2em;
        font-size: 1.5em;
    }

    i {
        font-size: 1.6em;
        color: #4f514f;
    }

    button {
        font-size: 2em;
    }
    

}


/* Media Query for Laptops and Desktops */ 
@media only screen and (min-device-width: 1100px) {
    
    p {
        font-size: 1.8em;
    }

    header {
        max-height: 5em;
    }

    header div a img {
        max-width: 4em;
    }

    footer {
        height: 2em;
        font-size: 1.2em;
    }

    i {
        font-size: 1.4em;
        color: #4f514f;
    }

    div#main-body {
        margin-top: 3.8em;
        margin-bottom: 3em;        
    }


}