@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --main-colour: #46d68f;
    --bg-colour: #fff3d6;
    --sec-colour: #4f514f;
}

html {
    font-family: 'Titan+One', 'Indie+Flower', sans-serif;
    background-color: var(--main-colour);
    color: var(--sec-colour);
    /* font-size: 1vw; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: 'Titan One';
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.2em;
    font-family: 'Indie Flower', cursive;
}

div#image {
    width: 80%;
    /* display: flex; this was adding extra space before and after my image */ 
    /* justify-content: center; */
}

img#main-img {
    max-width: 100%;
    max-height: 21.875;
    /* 350px; */
    object-fit: contain; 
}

button {
    background-color: var(--bg-colour);
    border: 2px solid var(--bg-colour);;
    border-radius: 5px;
    color: var(--sec-colour);
    font-family: 'Titan One';
    font-size: 0.9em;
    padding: 0.2em;
    min-width: 5em;
}

button:hover {
    border: 2px solid var(--sec-colour);
    font-style: bold;
    background-color: #4f514f;
    color: var(--bg-colour);
}

.buttons {
    display: flex;
    justify-content: space-around;
}


/********************** MEDIA QUERIES **********************/

/* Media Query for phones - Landscape */
@media only screen and (max-device-width: 900px) and (orientation: landscape) {

    body {
        flex-direction: row; 
        align-items: center;
        justify-content: space-around;
    }

    img#main-img {
        max-height: 95vh;
        object-fit: contain; 
    }

    div#my-info {
        position: relative;
        left: -50px;
    }
} 


/* Media Query for screens from iPhone 6 up - portrait */ 
@media only screen and (min-device-width: 375px) and (max-device-width: 481px) and (orientation: portrait){
    h1 {
        font-size: 2.5em;
    }
    
    p {
        font-size: 1.5em;
    }

    button {
        font-size: 1em;
        min-width: 7em;
    }
}

/* Media Query for tablets */ 
@media only screen and (min-device-width: 482px) and (max-device-width: 850px) and (orientation: portrait) {
    h1 {
        font-size: 3em;
    }
    
    p {
        font-size: 2em;
    }

    button {
        font-size: 1.4em;
        min-width: 8em;
    }

    img#main-img {
        max-height: 60vh;
    }

    div#my-info {
        width: 80vw;
    }
}


/****** Changed styles ******/
/* Media Query for Laptops and Desktops */ 
@media only screen and (min-device-width: 851px) {
    body {
        flex-direction: row; 
        height: 100%;
    }

    div#my-info {
        position: relative;
        left: -120px;
        min-width: 540px;
        max-width: 560px;
    }
        
    div#image {
        width: 60%;
        max-width: 800px;
        min-width: 600px;
    }
        
    img#main-img {
        max-width: 100%;
        max-height: 100%;
        /* object-fit: contain;  */
        /* display: block; remove extra space below image */
        margin-left: 1em;
    }
        
    h1 {
        font-family: 'Titan One';
        font-size: 4em;
        text-align: center;
    }

    p {
        font-size: 2em;
        font-family: 'Indie Flower', cursive;
    }

    button {
        background-color: var(--bg-colour);
        border: 2px solid var(--bg-colour);;
        border-radius: 5px;
        color: var(--sec-colour);
        font-family: 'Titan One';
        font-size: 1.2em;
        padding: 0.5em;
        min-width: 7.5em;
    }
    
    button:hover {
        border: 2px solid var(--sec-colour);
        font-style: bold;
        background-color: #4f514f;
        color: var(--bg-colour);;
    }
    
    .buttons {
        display: flex;
        justify-content: space-around;
        /* padding: 3px; */
    }
        
} 
